* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  background-color: aliceblue;
}

nav .images {
  width: 28%;
}

nav button {
  width: 10%;
  height: 9vh;
  border: none;
}

nav a {
  width: 40%;
}

nav button img {
  width: 65%;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #97bf0f !important;
  color: white !important;
}

#side-bar {
  width: 20%;
}

#side-bar nav {
  width: 75%;
  border-right: 1px solid #e5e5e5;
}

#side-bar nav ul a {
  font-size: 1.2em;
  font-weight: 700;
  color: black;
  text-align: left;
  text-transform: uppercase;
}

.second-half {
  width: 88%;
}

.login {
  width: 100%;
}

nav ul li {
  width: 100%;
}

