* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  background-color: aliceblue;
}

nav .images {
  width: 28%;
}

nav button {
  width: 10%;
  height: 9vh;
  border: none;
}

nav a {
  width: 40%;
}

nav button img {
  width: 65%;
}