* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  background-color: aliceblue;
}

#side-bar {
  width: 12%;
}

#second-half {
  width: 88%;
}

#side-bar nav ul a {
  font-size: 1.4em;
  color: black;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #97bf0f !important;
  color: white !important;
}